[submodule "website/Module/Dte"]
	path = website/Module/Dte
	url = https://github.com/LibreDTE/libredte-sowerphp
[submodule "app/pdf417decode"]
	path = app/pdf417decode
	url = https://github.com/estebandelaf/pdf417decode.git
