# contenido propio de la instancia (no público)
data/certs
data/firma_electronica
data/static
data/var
tmp
website/Config/core.php
website/Config/routes.php
website/Vendor
website/View/Pages

# funcionalidades aun no liberadas
website/Shell
website/Controller/Dashboard.php
website/View/Dashboard
website/Controller/Contacto.php
website/View/Contacto
website/Module/Lce
website/Module/Pos
website/Module/Pagos
website/Module/Rrhh
website/Module/Crm
website/Module/Inventario
website/Module/Tienda
website/Module/Sistema/Module/Libredte
