#
# Variables de entorno Aplicación Web de LibreDTE Edición Comunidad.
#

# URL donde se está ejecutando la aplicación.
#APP_URL="http://localhost:8000/libredte-community"

# Clave de encriptación.
# Formato clave: base64:KEY
# Generador online: https://generate-random.org/laravel-key-generator
APP_KEY=""

# Configuración de base de datos (PostgreSQL).
#DB_HOST="host.docker.internal"
#DB_USERNAME="libredte"
DB_PASSWORD=""
#DB_DATABASE="libredte"

# Configuración de caché (Redis).
#REDIS_HOST="host.docker.internal"

# Configuración de correo electrónico.
#MAIL_HOST="smtp.gmail.com"
#MAIL_PORT="465"
#MAIL_ENCRYPTION="ssl"
MAIL_USERNAME=""
MAIL_PASSWORD=""
#MAIL_FROM_ADDRESS=""
#MAIL_FROM_NAME="LibreDTE"
#MAIL_TO_ADDRESS=""

# Configuración del servicio de API Gateway.
# Token de API Gateway para desbloquear funcionalidades extras.
# Contrata un plan en: https://www.apigateway.cl
SERVICES_APIGATEWAY_TOKEN=""
