#
# Variables de entorno Aplicación Web de LibreDTE Edición Comunidad
#

# configuración de la base de datos
#LIBREDTE_APP_DATABASE_DEFAULT_HOST="localhost"
#LIBREDTE_APP_DATABASE_DEFAULT_PORT=5432
#LIBREDTE_APP_DATABASE_DEFAULT_USER="libredte"
LIBREDTE_APP_DATABASE_DEFAULT_PASS=""
#LIBREDTE_APP_DATABASE_DEFAULT_NAME="libredte"

# configuración del correo electrónico
#LIBREDTE_APP_EMAIL_DEFAULT_HOST="ssl://smtp.gmail.com"
#LIBREDTE_APP_EMAIL_DEFAULT_PORT=465
#LIBREDTE_APP_EMAIL_DEFAULT_USER=""
#LIBREDTE_APP_EMAIL_DEFAULT_PASS=""
#LIBREDTE_APP_EMAIL_DEFAULT_FROM_EMAIL=""
#LIBREDTE_APP_EMAIL_DEFAULT_FROM_NAME="LibreDTE"
#LIBREDTE_APP_EMAIL_DEFAULT_TO=""

# configuración del módulo de facturación electrónica
LIBREDTE_APP_DTE_PKEY=""

# token de API Gateway para desbloquear funcionalidades extras
# contrata un plan en: https://www.apigateway.cl
#LIBREDTE_APP_PROVEEDORES_API_APIGATEWAY_TOKEN=""
