<div class="card-deck">
    <div class="card text-white bg-danger mb-4">
        <div class="card-body">
            <i class="{card_1_icon} fa-3x float-left"></i>
            <div class="float-right text-right">
                <span class="h1">{card_1_quantity}</span>
                <br/>
                {card_1_title}
            </div>
            <div class="clearfix"></div>
        </div>
        <a href="{card_1_link}" class="text-white" style="display:{link-display}">
            <div class="card-footer">
                <span class="float-left">{card_1_link_title}</span>
                <span class="float-right"><i class="fa fa-arrow-circle-right"></i></span>
                <div class="clearfix"></div>
            </div>
        </a>
    </div>
    <div class="card text-white bg-success mb-4">
        <div class="card-body">
            <i class="{card_2_icon} fa-3x float-left"></i>
            <div class="float-right text-right">
                <span class="h1">{card_2_quantity}</span>
                <br/>
                {card_2_title}
            </div>
            <div class="clearfix"></div>
        </div>
        <a href="{card_2_link}" class="text-white" style="display:{link-display}">
            <div class="card-footer">
                <span class="float-left">{card_2_link_title}</span>
                <span class="float-right"><i class="fa fa-arrow-circle-right"></i></span>
                <div class="clearfix"></div>
            </div>
        </a>
    </div>
    <div class="card text-white bg-warning mb-4">
        <div class="card-body">
            <i class="{card_3_icon} fa-3x float-left"></i>
            <div class="float-right text-right">
                <span class="h1">{card_3_quantity}</span>
                <br/>
                {card_3_title}
            </div>
            <div class="clearfix"></div>
        </div>
        <a href="{card_3_link}" class="text-white" style="display:{link-display}">
            <div class="card-footer">
                <span class="float-left">{card_3_link_title}</span>
                <span class="float-right"><i class="fa fa-arrow-circle-right"></i></span>
                <div class="clearfix"></div>
            </div>
        </a>
    </div>
    <div class="card text-white bg-primary mb-4">
        <div class="card-body">
            <i class="{card_4_icon} fa-3x float-left"></i>
            <div class="float-right text-right">
                <span class="h1">{card_4_quantity}</span>
                <br/>
                {card_4_title}
            </div>
            <div class="clearfix"></div>
        </div>
        <a href="{card_4_link}" class="text-white" style="display:{link-display}">
            <div class="card-footer">
                <span class="float-left">{card_4_link_title}</span>
                <span class="float-right"><i class="fa fa-arrow-circle-right"></i></span>
                <div class="clearfix"></div>
            </div>
        </a>
    </div>
</div>
